*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-image: url("kepek/elso.jpg");
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainContainer{
    text-align: center;
}

.cim{
    width: 40%;
    display: block;
    float: left;
    font-size: 25px;
    color: white;
    background-color: yellowgreen;
}
.menuContainer{
    width: 60%;
    display: block;
    float: left;
    background: rgba(225, 225, 225, 0.3);
}
a{
    text-decoration: none;
    color: gray;
    padding: 4px;
    font-size: 25px;
}
a:hover{
    text-decoration: underline;

}

.cimTok{
    padding-top: 5%;
    text-align: center;
    color: gray;
}
.kepTok{
    text-align: center;
}
.sutikep{
    width: 40%;
    height: auto;
}
.szovegTok{
    margin: 10px;
    padding: 10px;
    background: rgba(225, 225, 225, 0.3);
}

.szoveg{
    font-size: 22px;
    width: 40%;
    padding-left: 30%;
    text-align: justify;
}


@media only screen and (max-width: 800px) {

    .cim{
        width: 100%;
        display: block;
        float: left;
        background-color: yellowgreen;
    }
    .menuContainer{
        width: 100%;
        display: block;
        float: left;
        background-color: rgba(225, 225, 225, 0.3);
    }
    a{
        padding: 5px;
        margin-top: 5px;
    }
    .sutikep{
        width:70%;
        height: auto;
    }
    .szoveg{
        width: 100%;
        padding-left: 0;
    }
}