*{
    margin: 0;
    border: 0;
    padding: 0;
}
body{
    background-image: url("kepek/elso.jpg");
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainContainer{
    text-align: center;
}
#header{
    margin-top: 5px;
}
.cim{
    width: 40%;
    display: block;
    float: left;
    font-size: 20px;
    color: gray;
}
.menuContainer{
    width: 60%;
    display: block;
    float: left;

}
a{
    text-decoration: none;
    color: gray;
    padding: 4px;
    font-size: 20px;
}
a:hover{
    text-decoration: underline;

}

#BelepContainer{
    width: 50%;
    float: left;
}
.belepes{
    margin-top: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: orange;
    color: white;
}
.belepes:hover{
    background-color: #ffcc66;
}

.urlap{
    width: 60%;
    margin: 0 auto 0 auto;
    text-align: center;
    margin-top: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    color: gray;
    background: rgba(225, 225, 225, 0.3);
}



@media only screen and (max-width: 800px) {

    .cim{
        width: 100%;
        display: block;
        float: none;
        background-color: yellowgreen;
    }
    .menuContainer{
        width: 100%;
        display: inline;
        float: none;
        background-color: pink
    }
    a{
        padding: 5px;
        margin-top: 5px;
    }

    #BelepContainer{
        width: 100%;
        float: left;
    }
      
    
}