*{
    margin: 0;
    border: 0;
    padding: 0;
}

body{
    background-image: url("kepek/esku.jpg");
    height: 100%;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
#mainContainer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3);
}

.cim{
    width: 40%;
    display: block;
    float: left;
    font-size: 25px;
    color: gray;
    background-color: yellowgreen;
}
.menuContainer{
    width: 60%;
    display: block;
    float: left;
    background: rgba(0, 0, 0, 0.3)
}
a{
    text-decoration: none;
    color: gray;
    padding: 4px;
    color: white;
    font-size: 25px;
}
a:hover{
    text-decoration: underline;

}

.BoroGabor{
    display: block;
    position: absolute;
    top: 80%;
    left: -10%;
    font-size: 20px;
    color: #cb0949;
    text-shadow: 1px 1px black;
}
@media only screen and (max-width: 830px) {

    .cim{
        width: 100%;
        display: block;
        float: left;
        background-color: yellowgreen;
    }
    .menuContainer{
        width: 100%;
        display: block;
        float: left;
        background-color: rgba(0, 0, 0, 0.3);
    }
    a{
        padding: 5px;
        margin-top: 5px;
    }

    .BoroGabor{
        top: 60%;
        left: 5px;
        font-size: 2px;
        background-color: rgba(225, 225, 225, 0.3);
        color: gold;
        text-shadow: 1px 1px black;
    }
}